{# This is a template used to show the ratings of a class #}
{% load searchCourseExtras%}
{% with "balanced difficulty workload practicality enjoyment" as criteria%}
<div id="scores" class="d-flex">
    {% for criterion in criteria.split %}
        {% get_attribute course criterion as score%}
        <div class="p-2 card {% set_color score %}">
            <h5 class="text-center">{{criterion|title}}</h5>
            {# Check if a score for a criterion exitsts, and display the score if so#}
            {% if score %}
                <p class="text-center">{{score}}/5</p>
            {% else %}
                <p class="text-center">N/A</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endwith %}