{% extends "layout/base.html" %}
{% block title %}{{course.name}}{% endblock %}
{% load bootstrap4 %}
{% load static %}

{% load searchCourseExtras %}


{% block head %}
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{# This template can be simplified by having the forms as a parent template. Should do this once UX is finalized #}

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h1>Search</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 ">
            <div class="card">
                <div class="card-body">
                    <h3>Find a specific course:</h3>
                    <form class="form-group" id="singleSearchForm">
                        <input class="form-control" id="singleSubject" type="text" name="subjectName" placeholder="CRS" required>
                        <input class="form-control" id="singleCourse" type="number" name="courseNum" placeholder="101" min="100" max="999"required>
                        <input class="btn btn-primary" type="submit" onsubmit="searchSingle()" value="Search">
                    </form>
                </div>
            </div>
    
            <div class="card">
                <div class="card-body">
                    <!--Make form collapsible with bootstrap collapse-->
                    <h3>Search for courses based on criterion</h3>
                    <form action="/search" method="get" class="form">
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2>{{subject.letter_code}} {{course.number_code}}</h2>
                    <h3>{{course.name}}</h3>
                    <h4>{{subject.name}}</h4>
                </div>
                <div class="card-body">
                    <p>{{course.description}}</p>
                    {% include "searchCourse/course_rating_block.html"%}
                    <a class="btn btn-primary text-white" href="{{course.number_code}}/rate">Rate this course</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static "searchCourse/js/search.js" %}"></script>
{% endblock %}