{% extends "layout/base.html" %}
{% block title %}Index{% endblock %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Search</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            
            <div class="card">
                <div class="card-body">
                    <h3>Find a specific course:</h3>
                    <form class="form-inline" id="singleSearchForm">
                        <input class="form-control" id="singleSubject" type="text" name="subjectName" placeholder="CRS" required>
                        <input  class="form-control" id="singleCourse" type="number" name="courseNum" placeholder="101" min="100" max="999"required>
                        <input class="btn btn-primary" type="submit" onsubmit="searchSingle()" value="Search">
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <!--Make form collapsible with bootstrap collapse-->
                    <h3>Search for courses based on criterion</h3>
                    <!--
                    Add minimum X score?
                    -->
                    <form method="GET">
                        <div class="form-row">
                            <div class="col">
                                <label for="inputSort">Sort courses by</label>

                                <select class="form-control"name="score">
                                    <option value="name">Name</option>
                                    <option value="balanced">Balanced Score</option>
                                    <option value="difficulty">Difficulty Score</option>
                                    <option value="workload">Workload Score</option>
                                    <option value="practicality">Practicality Score</option>
                                    <option value="enjoyment">Enjoyment Score</option>
                                    <option value="weighted">Weighted Score</option>
                                </select>
                                <select class="form-control" name="scoreOrder">
                                    <option value="descending">Descending</option>
                                    <option value="ascending">Ascending</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="inputFacultyFilter">Filter by course subject (You can type the subject code or scroll through)</label>
                                <select class="form-control" name="subject">
                                    <option value="all">All Subjects</option>
                                    <!--JINJA FOR LOOP-->
                                    {% for subject in subject_list %}
                                        <option value={{subject.letter_code}}>{{subject.letter_code}} - {{subject.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col">
                                <label for="courseNumMin">Search for a Course Number between </label>
                                <input  class="form-control" type="number" name="courseMin" value="100" min="100" max="999"required>
                                up to and including
                                <input  class="form-control" type="number" name="courseMax" value="999" min="100" max="999"required>
                            </div>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Search">
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="order-2 col-sm-8 order-sm-1">
            CONTENT
        </div>
        <div class="order-1 col-sm-4 order-sm-2">
            <div class="card">
                <div class="card-body">
                    <h3>Find a specific course:</h3>
                    <form class="form-inline" id="singleSearchForm">
                        <input class="form-control" id="singleSubject" type="text" name="subjectName" placeholder="CRS" required>
                        <input  class="form-control" id="singleCourse" type="number" name="courseNum" placeholder="101" min="100" max="999"required>
                        <input class="btn btn-primary" type="submit" onsubmit="searchSingle()" value="Search">
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <!--Make form collapsible with bootstrap collapse-->
                    <h3>Search for courses based on criterion</h3>
                    <!--
                    Add minimum X score?
                    -->
                    <form method="GET">
                        <div class="form-row">
                            <div class="col">
                                <label for="inputSort">Sort courses by</label>

                                <select class="form-control"name="score">
                                    <option value="name">Name</option>
                                    <option value="balanced">Balanced Score</option>
                                    <option value="difficulty">Difficulty Score</option>
                                    <option value="workload">Workload Score</option>
                                    <option value="practicality">Practicality Score</option>
                                    <option value="enjoyment">Enjoyment Score</option>
                                    <option value="weighted">Weighted Score</option>
                                </select>
                                <select class="form-control" name="scoreOrder">
                                    <option value="descending">Descending</option>
                                    <option value="ascending">Ascending</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="inputFacultyFilter">Filter by course subject (You can type the subject code or scroll through)</label>
                                <select class="form-control" name="subject">
                                    <option value="all">All Subjects</option>
                                    <!--JINJA FOR LOOP-->
                                    {% for subject in subject_list %}
                                        <option value={{subject.letter_code}}>{{subject.letter_code}} - {{subject.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col">
                                <label for="courseNumMin">Search for a Course Number between </label>
                                <input  class="form-control" type="number" name="courseMin" value="100" min="100" max="999"required>
                                up to and including
                                <input  class="form-control" type="number" name="courseMax" value="999" min="100" max="999"required>
                            </div>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Search">
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static "searchCourse/js/search.js" %}"></script>
{% endblock %}