{% extends "layout/base.html" %}
{% block title %}UCourse{% endblock %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>UCourse</h1>
            </div>
        </div>
        
        <div class="row bg-light">
            <div class="col">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col">
                            <h2><b>Features</b></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 text-center">
                            <span class="fas fa-stack fa-3x mx-auto mb-3">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-search fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>Search</h3>
                            <p>Easily find courses based on subject, number, rating, and more</p>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 text-center">
                            <span class="fas fa-stack fa-3x mx-auto mb-3">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>Rate</h3>
                            <p>Rate courses based on a set of criteria</p>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 text-center">
                            <span class="fas fa-stack fa-3x mx-auto mb-3">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-database fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>Always Online</h3>
                            <p>Access the site anywhere, anytime, 24/7</p>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 text-center">
                            <span class="fas fa-stack fa-3x mx-auto mb-3">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-osi fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>Open Source</h3>
                            <p>Want to contribute? Feel free to fork, PR, or raise an issue via <a href="http://www.github.com/ChrisChrisLoLo/UCourse">Github</a></p>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}