{% extends "layout/base.html" %}
{% block title %}UCourse{% endblock %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "css/heroimage.css"%}">
{% endblock %}

{% block content %}
    <section class="bgimage">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-lg-4 col-md-8 col-sm-10 col-xs-10 text-center text-white">
                    <h1 class="display-4">UCourse</h1>

                    <p class="lead">
                        An unofficial University of Alberta app.<br/>
                        Search and rate any UofA course.

                    </p>
                    <p><a href="/search" class="btn btn-primary btn-large">Begin Searching</a></p>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">        
        <div class="row bg-light top-buffer">
            <div class="col">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col">
                            <h2><b>Features</b></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 text-center">
                            <span class="fas fa-stack fa-3x mx-auto mb-3">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-search fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>User Friendly</h3>
                            <p>
                                Find courses with ease and convienience. 
                                Find any course that suits your needs.
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 text-center">
                            <span class="fas fa-stack fa-3x mx-auto mb-3">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>User Rated</h3>
                            <p>
                                For the students, by the students.
                                Rate courses based on a set of criteria.
                                Conversely find only the best courses the University has to offer.
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 text-center">
                            <span class="fas fa-stack fa-3x mx-auto mb-3">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-database fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>Always Online</h3>
                            <p>
                                Access the site anywhere, anytime, 24/7.
                                This page isn't going anywhere Saturday night.
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 text-center">
                            <span class="fas fa-stack fa-3x mx-auto mb-3">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-osi fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3>Open Source</h3>
                            <p>Want to contribute? Feel free to fork, PR, or raise an issue via <a href="http://www.github.com/ChrisChrisLoLo/UCourse">Github.</a></p>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}