{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% comment %} Reminder that non-minified css is used so I can customize it at some point.
    Change to min at somepoint before prod {% endcomment %}
    <link rel="stylesheet" href="{% static "css/bootstrap4cosmo.css" %}" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">UCourse</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% comment %} <li class="nav-item active">
                    <a class="nav-link" href="#">{{request.resolver_match.app_name}}<span class="sr-only">(current)</span></a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.app_name == "courseSearch" %} active  {% endif %}" href="/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="content">{% block content %}{% endblock %}</div>

    <div id="footer" class="footer">
        {% block footer %}
            <p>&copy; Floppyright 2018 by <a href="http://www.github.com/ChrisChrisLoLo">Chris Lo</a></p>
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    {% block js %}{% endblock %}
    
</body>
</html>